* {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul {
    background-color:gold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    padding: 20px;
}

li {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 140px;
    padding-right: 140px;
}

.text_title {
    padding-top: 50px;
    color: green;
    font-size: 30px;
    padding-bottom: 35px;
    font-family:Arial, Helvetica, sans-serif;
}

.smoke {
    width: 50px;
    height: 50px;
    position: relative;
    left: 50px;
}

.cup {
padding-top: 3px;
}

.bean {
    position: relative;
    width: 44px;
    height: 52px;
    left: 38px;
    bottom: 65px;
}

.class_cup {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 20px;
}

.footer {
    width: 130px;
    padding-bottom: 30px;
}